In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
import random
data = {
    "first_name": ["Davy", "Manu", "Shaquille"],
    "grade" : ["A", "B", "B"],
    "age" : [18, 19, 20],
    "gpa": [3.7, 3.3,3.9]
}
print(data)

{'first_name': ['Davy', 'Manu', 'Shaquille'], 'grade': ['A', 'B', 'B'], 'age': [18, 19, 20], 'gpa': [3.7, 3.3, 3.9]}

In [25]:
df = pd.DataFrame(data)

In [24]:
df.head()

  first_name grade age  gpa
0       Davy     A  18  3.7
1       Manu     B  19  3.3
2  Shaquille     B  20  3.9

In [26]:
df.columns

Index(['first_name', 'grade', 'age', 'gpa'], dtype='object')

In [27]:
statistics = df.describe()
print(statistics)

        age       gpa
count   3.0  3.000000
mean   19.0  3.633333
std     1.0  0.305505
min    18.0  3.300000
25%    18.5  3.500000
50%    19.0  3.700000
75%    19.5  3.800000
max    20.0  3.900000

In [28]:
df.sort_values(by="gpa", ascending=False)

  first_name grade  age  gpa
1       Manu     B   19  3.3
0       Davy     A   18  3.7
2  Shaquille     B   20  3.9